#page-study #container {
  width: 100vw;
  height: 100vh;
}


#search-teacher {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-title-in-primary);
}

#search-teachers .select-block {
  margin-bottom: 1.4rem;
}

#search-teachers button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: .8rem;
  cursor: pointer; /*ponteiro do mouse vira mãozinzha quando passa por cima*/
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s; /*transição de cor de fundo do botão*/
  margin-top: 3.2rem;
}

#search-teachers button:hover {
  background-color: var(--color-secondary-dark); /*cor da transição de fundo*/
}


.select-block label,
.input-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement);
}


#page-study main {
  margin: 3.2rem auto;
  width: 90%;

}
.teacher-item{
  background-color: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
}

.teacher-item header {
    padding: 3.2rem 2rem;
    display:flex;
    align-items: center;
}

.teacher-item header img {
  width: 8rem;   /**diminuindo imagem pra ficar quadradinha*/
  height: 8rem;  /*diminuindo imagem pra ficar quadradinha*/
  border-radius: 50%; /*arredondamento das bordas*/
}

.teacher-item header div { /*distância entre imagem e nome do professor*/
  margin-left: 2.4rem;
}

.teacher-item header div strong { /*fonte do nome e matéria*/
  font: 700 2.4rem Archivo;
  display: block; /*quebra de linha*/
  color: var(--color-text-title);
}

.teacher-item header div span { /*fonte do nome e matéria*/
  font-size: 700 1.6rem;
  display: block; /*quebra de linha*/
  margin-top: .4rem; /*espaçamento entre nome do prof e matéria*/
}

.teacher-item > p {  /*formatação do texto sobre o professor*/
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.teacher-item footer { /*footer é a caixa com preço/hora e entrar em contato*/
  padding: 3.2rem 2rem;
  background-color: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);/*linha acima do preço/hora*/
  margin-top: 3.2rem;

  display: flex; /*coloca preço/hora e entrar em contato um ao lado do outro*/
  align-items: center; /*centraliza no eixo x*/
  justify-content: space-between; /*um elemento fica num canto e outro noutro*/
}

.teacher-item footer p {
  font-size: 1.4rem; /*tamanho da fonte do preço/hora*/
  line-height: 2.4rem;
  color: var(--color-text-complement);
}

.teacher-item footer p strong { /*referente ao valor em R$*/
  font-size: 1.6rem;
  color: var(--color-primary);
  display:block;
}


.teacher-item footer button { /*botão do whatsapp*/
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: .8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;

  display: flex; /*coloca ícone do wpp ao lado do texto de entrar em contato*/
  align-items: center;
  justify-content: space-evenly;/*evenly significa espaçamento constante*/

  text-decoration: none; /*tira qualquer decoração do texto*/

  transition: background 0.2s;
  margin-left: 1.6rem;
}

.teacher-item footer button:hover {
  background: var(--color-secondary-dark); /*escuresse botaão do wpp*/
}

/*daqui pra frente será feita a desktop version*/
@media (min-width: 700px){ /*media query*/
    #page-study #container {
      max-width: 100vw; /*viewport width*/
    }

    .page-header {
      height: 340px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
      max-width: 740px;

      margin: 0 auto;

      flex: 1 1;
      padding-bottom: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    .page-header .header-content strong {
      max-width: 350px;
    }

    .teacher-item header,
    .teacher-item footer {
      padding: 32px;
    }

    #search-teachers { /*matéria, dia da semana e hora agora ficarão um ao */
      display:grid;    /*lado da outra*/
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      position: absolute;
      bottom: -28px;
    }


    #page-study main {
      padding: 32px 0;
      max-width: 740px;
      margin: 0 auto;
    }

    #search-teachers .select-block {
      margin-bottom: 0;
    }

    .teacher-item > p {
        padding: 0 32px;
    }

    .teacher-item footer p strong {
      display: initial;
      margin-left: 16px;
    }

    .teacher-item footer button {
      width: 245px;
      font-size: 16px;
      justify-content: center;
    }

    .teacher-item footer button img {
      margin-right: 16px;
    }
  }
